#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#record-button {
    background-color: #28A745;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    width: 6rem;
    height: 6rem;
    line-height: 1;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 1000px) {
    #record-button {
        width: 15rem;
        height: 15rem;
        font-size: 7rem;
        padding: 1.5rem;
    }
}

#record-button:hover {
    background-color: #1E7E34;
}

#record-button:active {
    background-color: #960d0d;
    -webkit-box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1rem 2rem rgba(0, 0, 0, 0.2);
    outline: none;
    transform: scale(0.95); /* Slightly decrease the size of the button when active */
}

#spinner {
    display: none;
    width: 5rem;
    height: 5rem;
    border: 0.5rem solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #0495a2;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

#error-message {
    color: #960d0d;
    text-align: center;
    margin-top: 1rem;
    display: none;
}

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
